#search-container{
	width: 80%;
	margin-top : 43px;
}
#search-container > #product-search{
	float:right;
}
#search-container > #input-product-search{
	height:34px;
	float:right;
	width: 50%;
}
.worm-gear{
	margin-top : 16px;
}
.panel-body{
	background-color : #f5f5f5;
}
.item-content{
	margin-bottom: 10px;
	padding: 0 5px 5px 5px;
}
.page-header {
	margin: 10px 0 10px 0;
}